<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Discuss", suffix: " · Phoenix Framework" %>
        <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <nav class="light-blue">
        <div class="nav-wrapper container">
          <div>
          <a href="/" class="brand-logo">
            Discussions
          </a>
          </div>
          <div class="right">
          <ul style="margin-top: 0px;">
            <%= if @conn.assigns[:user] do %>
            <li>
              <%= link "Logout", to: Routes.auth_path(@conn, :signout) %>
            </li>
            <% else %>
            <li>
              <%= link "Sign in with GitHub", to: Routes.auth_path(@conn, :request, "github") %>
            </li>
            <% end %>
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
            <li>
              <%= link "Live Dashboard", to: Routes.live_dashboard_path(@conn, :home) %>
            </li>
            <% end %>
          </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= @inner_content %>
  </body>
</html>
